.file_drag {
    width: 600px;
    height: 400px;
    border: 2px dashed #ccc;
    line-height: 400px;
    text-align: center;
    font-size: 24px;
}

.file_drag_over {
    color: #000;
    border-color: #000;
}

#uploaded_file {
    margin-top: 20px;
}

.none-border {
    border: 0px solid #ddd;
}

#del-image {
    margin-top: 5px;
}